<!DOCTYPE html>
<html lang="zxx">
    <head>
        <title>bio page</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
        
    </head>
    <body class="flex-body">
        <header>
            <p>Bio Page</p>
            <nav>
                <ul>
                    <li><a href="/blog/tech/">tech page</a></li>
                    <li><a href="/blog/main/">main page</a></li>
                </ul>
            </nav>
            <p><img class="pic" src="{% static 'blog/bio.jpg' %}" alt="should be an image here"/> bio image </p>
        
        </header>
        <main class="flex-main">
            <article class="flex-article-bio">
                <h1>
                    client.
                </h1>
                <img class="pic_bio" src="{% static 'blog/steam.jpg' %}" alt="">
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </article>
            
            <section>
                <h1> pictures </h1>
                <aside>
                    <img class="side_pic" src="{% static 'blog/excited1.jpg' %}" alt="picture">
                    <img class="side_pic" src="{% static 'blog/excited2.jpg' %}" alt="picture">
                    <img class="side_pic" src="{% static 'blog/excited3.jpg' %}" alt="picture">
                </aside>
            </section>
            
        </main>
        <footer>
            <p>
                Jake Yeagley Copyright me 2017.
            </p>
        </footer>
        
        <p>
            {{ time }}
        </p>
    </body>
</html>