{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

<!--<h1> {{ Blog.title_blog }} </h1>-->

<!--{% if error_message %}-->
<!--<p>-->
<!--    <strong> -->
<!--    {{ error_message }} -->
<!--    </strong>-->
<!--</p>-->
<!--{% endif %}-->

<!--<p> {{ Blog.content_blog }} </p>-->
<!--<p> {{ Blog.post_date }} </p>-->
<!--<p> {{ Blog.author_name }} </p>-->
<!--<p> test </p>-->

<!--- question for Erik -->
<!-- *******
    *********
    *********
    -->
<form action="{% url 'blog:postComment' blog_id %}" method="post">
{% csrf_token %}
    <label for="comment"> add comment </label>
    <input type="textarea" id="comment" name='comment' value='comment'/>
    <input type="submit">Submit</submit>
</form>

{% for blog in Blog.comments_set.all %} 
<div> 
    {{ blog.content_comment }} 
</div>
{% endfor %}