{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

<li>
    {% for Blog in object_list %}
        <p>
            <div>
                Title:
                 {{ Blog.title_blog }}
            </div>
            <div>
                {{ Blog.content_blog | truncatewords:200 }} 
            </div>
            <div>
                Author:
                {{ Blog.author_name }}
            </div>
            <div>
                Post date:
                {{ Blog.post_date }}
            </div>
        </p>
    
        {% endfor %}
</li>

<p>
   
</p>