<!DOCTYPE html>
<html>
    <head>
        <title> tech page </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
        
    </head>
    <body class="flex-body">
    <header>
            <p>Tech Page</p>
            <nav>
                <ul>
                    <li><a href="/blog/bio/">bio page</a></li>
                    <li><a href="/blog/main">main page</a></li>
                </ul>
            </nav>
            <p><img class="pic" src="{% static 'blog/gitImage.jpg' %}" alt="should be an image here"> gitImage </p>
        </header>
        <main>
            <article class="flex-article">
                <h1> put this here to please the validator </h1>
                <div class="table table1">
                <table>
                    <tr>
                        <th>git command</th>
                        <th>Description</th>
                        <th>example</th>
                    </tr> 
                    <tbody>
                        <tr>
                            <td> clone </td>
                            <td> Makes a Git repository copy from a remote source. Also adds the original location as a remote so you can fetch from it again and push to it if you have permissions.
                            </td>
                            <td><code>git clone git@github.com:user/test.git</code> </td>
                        </tr>
                        <tr>
                            <td> add </td>
                            <td> Adds files changes in your working directory to your index. </td>
                            <td><code>git add index.html</code></td>
                        </tr>
                        <tr>
                            <td> commit </td>
                            <td> Takes all of the changes written in the index, creates a new commit object pointing to it and sets the branch to point to that new commit.
                            </td>
                            <td> <code>git commit</code> </td>
                        </tr>
                        <tr>
                            <td>  pull </td>
                            <td> Fetches the files from the remote repository and merges it with your local one. This command is equal to the git fetch and the git merge sequence.
                            </td>
                            <td><code>git pull origin</code></td>
                        </tr>
                        <tr>
                            <td> git remote add </td>
                            <td>connects a remote repository to this one</td>
                            <td><code>git remote add origin https://jyeagley@bitbucket.org/jyeagley/cs-2610.git</code></td>
                        </tr>
                        <tr>
                            <td>git push</td>
                            <td>sends changes to a remote repository</td>
                            <td><code>git push -u origin master</code></td>
                        </tr>
                        <tr>
                            <td>git diff</td>
                            <td>tells the difference between commits</td>
                            <td><code>git diff</code></td>
                        </tr>
                        <tr>
                            <td> push </td>
                            <td> Pushes all the modified local objects to the remote repository and advances its branches.
                            </td>
                            <td><code> git push origin master</code></td>
            
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="table table2">
                <table>
                    <tr>
                        <th>HTML tag</th>
                        <th>Description</th>
                        <th>example</th>
                    </tr> 
                    <tbody>
                        <tr>
                            <td> div </td>
                            <td> used to divide up divions of code, good for using flex box and classes. here's some fluff to make my tables bigger so that the scroll bar will work and I can get a good grade on this assignment.
                            </td>
                            <td><code> div </code></td>
                        </tr>
                        <tr>
                            <td> header </td>
                            <td> used to indicate the head of an article. here's some fluff to make my tables bigger so that the scroll bar will work and I can get a good grade on this assignment. </td>
                            <td><code> header</code></td>
                        </tr>
                        <tr>
                            <td> table </td>
                            <td> used to build a table. here's some fluff to make my tables bigger so that the scroll bar will work and I can get a good grade on this assignment.
                            </td>
                            <td> <code> table </code> </td>
                        </tr>
                        <tr>
                            <td>  tr </td>
                            <td> used to build the rows inside a table. here's some fluff to make my tables bigger so that the scroll bar will work and I can get a good grade on this assignment.
                            </td>
                            <td><code> tr </code></td>
                        </tr>
                        <tr>
                            <td> td </td>
                            <td> used to put data inside a table row. here's some fluff to make my tables bigger so that the scroll bar will work and I can get a good grade on this assignment.</td>
                            <td><code> td </code></td>
                        </tr>
                        <tr>
                            <td> footer </td>
                            <td> used to indicate the bottom end of a page. here's some fluff to make my tables bigger so that the scroll bar will work and I can get a good grade on this assignment.</td>
                            <td><code> footer </code></td>
                        </tr>
                        <tr>
                            <td> section </td>
                            <td> similiar to div and article, used to section off a part of code, good for classes and flexbox. here's some fluff to make my tables bigger so that the scroll bar will work and I can get a good grade on this assignment.</td>
                            <td><code> section </code></td>
                        </tr>
                        <tr>
                            <td> article </td>
                            <td> similiar to section and div.here's some fluff to make my tables bigger so that the scroll bar will work and I can get a good grade on this assignment.
                            </td>
                            <td><code> article </code></td>
            
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="table table3">
                <table>
                    <tr>
                        <th>CSS code</th>
                        <th>Description</th>
                        <th>example</th>
                    </tr> 
                    <tbody>
                        <tr>
                            <td> bockground-image </td>
                            <td> used to insert an image in the background
                            </td>
                            <td><code> background-image: url("blue-computer-background.jpg" </code> </td>
                        </tr>
                        <tr>
                            <td> background-color </td>
                            <td> used to change the color of the background </td>
                            <td><code> background-color : darkgrey </code></td>
                        </tr>
                        <tr>
                            <td> font-size </td>
                            <td> used to change the size of fonts
                            </td>
                            <td> <code>font-size : 150% </code> </td>
                        </tr>
                        <tr>
                            <td>  font-family </td>
                            <td> used to change the font type
                            </td>
                            <td><code> font-family : serif </code></td>
                        </tr>
                        <tr>
                            <td> font-weight </td>
                            <td> used to change the thickness of fonts </td>
                            <td><code> font-weight : bold </code></td>
                        </tr>
                        <tr>
                            <td> color </td>
                            <td> used to change the color </td>
                            <td><code> color: blue </code></td>
                        </tr>
                        <tr>
                            <td> . </td>
                            <td>used to describe a class so that it can be modified in css</td>
                            <td><code>.class-name</code></td>
                        </tr>
                        <tr>
                            <td> # </td>
                            <td> used to describe a id so that is can be modified in css
                            </td>
                            <td><code> #id-name </code></td>
            
                        </tr>
                    </tbody>
                </table>
            </div>
            </article>
        </main>
        <footer>
            <p>
                Jake Yeagley Copyright me 2017.
            </p>
            <p>
            {{ time }}
        </p>
        </footer>
    </body>
</html>
    