<!-- gold page -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'gold/style.css' %}" />

<html>
    <head>
        <meta charset="utf-8">
        <title> gold </title>
    </head>
    <body>
        <h2>
            Your weight in gold
        </h2>
            <!--{% csrf_token %}-->
        <h2>
            this webpage takes your weight in pounds and tells you have much that weigth is worth in <gold></gold>
        </h2>
        <p>
            <label for="weight"> your weight in pounds </label>
            <input type="bumber" id="weight" type="text">
            <button type="button" onclick="getInput()"> submit </button>
        </p>
        <p id="result">

        </p>
        <script type="text/javascript">
            var apiKey = 'r2KzPgwPjtnX3GQLtbJw';
            var start = "2017-12-01";
            var end =  "2017-12-04";
            var goldRUrl = "https://www.quandl.com/api/v3/datasets/LBMA/GOLD.json?api_key=" +
            apiKey + "&column_index=2&start_date=" + start + "&end_date=" + end;

            var priceOfGold;
            var goldR = new XMLHttpRequest();
            var jsonQuandl = {};

            goldR.open('GET', goldRUrl);
            goldR.responseType = 'json';
            goldR.send();
            goldR.onload = function()
            {
                jsonQuandl = goldR.response;
                console.log(jsonQuandl);
                priceOfGold = jsonQuandl.dataset.data[0][1];
            };

            var getInput = function()
            {

                var host       = location.protocol + '//' + window.location.host;
                var convertURL = host + "/gold/convertAPI?value=" + document.querySelector('#weight').value + "&to=t_oz&from=lbs";
                var convertReq = new XMLHttpRequest();

                var jsonWeight = {};
                var troyOz;

                convertReq.open('GET',convertURL);
                convertReq.responseType = 'json';
                convertReq.send();
                convertReq.onload = function()
                {
                    jsonWeight = convertReq.response;
                    console.log(jsonWeight);
                    troyOz = jsonWeight.t_oz;

                    var weightInGold = priceOfGold * troyOz;
                    weightInGold = weightInGold.toLocaleString(undefined, {maximumFractionDigits:2});

                    document.getElementById("result").textContent = "$"+ weightInGold;
                    console.log(weightInGold);
                };
            };
        </script>
    </body>
</html>
