
            div.table
            {
                display:block;
                display:flex;
                overflow:scroll;
                height:400px;
                width:50%;
            }
            div
            {
                color:#ff1493;
            }
            body
            {
                background-image: url("blue-computer-background.jpg"); 
                background-color : darkgrey;
            }
            h1,h2,h3
            {
                border: 1px solid;
                background-color : lightgrey;
                text-align : center;
            }
            tr
            {
                font-family : serif;
                font-size : 150%;
                font-weight : bold;
            }
            a:visted
            {
                font-size: 50px;
            }
            a:link
            {
                color: blue;
            }
            a:hover
            {
                color: red;
            }
            th
            {
                background-color: grey;
            }
            tr:first-of-type
            {

            }
            tr:nth-child(2n+1)
            {
                background-color: lightgrey;
            }
            tr:nth-child(2n)
            {
                
            }
            td
            {
                color:black;
            }
            .pic
            {
                width:200px;
                height:auto;
                vertical-align: text-bottom;
            }
            .pic_bio
            {
                width:300px;
                height:auto;
            }
            .side_pic
            {
                width:50%;
                height:auto;
            }

            p
            {
                display: inline; 
                color:#ff1493;
            }
            .flex-body
            {
                display:flex;
                flex-direction:column;
                flex-wrap:wrap;
                overflow:scroll;
            }
            .flex-main
            {
                display:flex;
                flex-direction:row;
            }
            .flex-section
            {
                display:flex;
                flex-direction:column;
                flex-wrap:wrap;
                width:50%;
            }
            .flex-aside
            {
                display:flex;
                flex-direction:column;
                flex-wrap:wrap;
                width:50%;
            }
            .flex-article
            {
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
                width:75%;
            }
            .table1
            {
                order:3;
                background-image: url("steam.jpg");
                background-attachment: local;
            }
            .table2
            {
                order:1;
                background-image: url("steam.jpg");
                background-attachment: scroll;
            }
            .table3
            {
                order:2;
                background-image: url("steam.jpg"); 
                background-attachment: fixed;
            }
            .flex-article-bio
            {
                display:flex;
                flex-direction:column;
                flex-wrap:wrap;
                width:100%;
            }
            